/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi Variable";
  font-weight: 100 900;
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Anuphan";
  font-weight: 400;
  src: url("/fonts/Anuphan/Anuphan-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Anuphan";
  font-weight: 500;
  src: url("/fonts/Anuphan/Anuphan-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Anuphan";
  font-weight: 600;
  src: url("/fonts/Anuphan/Anuphan-SemiBold.otf") format("opentype");
}

body {
  font-family: "Satoshi Variable", "Basier Circle", "Anuphan";
  @apply bg-gradient-to-b from-white to-neutral-200 font-medium;
  min-height: 100vh;
}

.text-huge {
  @apply text-3xl leading-tight md:text-5xl md:leading-tight lg:text-6xl lg:leading-tight;
}

.pb-container {
  @apply m-auto w-full pl-6 pr-10 py-4 lg:px-8 mb-10 flex gap-6 lg:gap-7 flex-col;
}

a {
  @apply hover:bg-neutral-300;
}
